#main_header{
    font-family:Cursive;
    color:#00b300;
    font-weight:bolder;
}
#Middle_column{
    background-color: #778899;
    border-bottom-color: red;
    border-top-color: red;
    border-left-color: green;
    border-right-color: green;
}
#email{
    height:75px;
    width:75px;
}
#Pic_Border{
    border:4px;
    border-color:red green red green !important;
}
